<!--Add Your Account Page-->


<!DOCTYPE html>
<%- include('partials/_header') %>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>

</head>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
  <div class="card card-body">
  <h1 class="text-center mb-3"><i class="fa fa-key" aria-hidden="true"></i> Add your account
  </h1>
<body>

  <style>
    body {
      background-color: #ECECEC;
   }
    p {
      font-size: 150%;
      border: 60px;
      padding: 60px;
   };
  </style>

  <form method="POST" action="/add/<%= organization_id%>">
  <div class = 'container'></div>

    <label for="text" class="form-label mt-4"></label>Name</label>
    <input type="text" id="name" name = 'name'value =''>

    <label for="text">username</label>
    <input type="text" id="username" name = 'username'value =''>

    <label for="text">password</label>
    <input type="text" id="password" name = 'password' value = ''>

     <label for="exampleSelect1" class="form-label mt-4">category</label>
     <input type="text" id="category" name = 'category' value =''>

    <div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="submit">Generate New Password</button>
  </div>
  </form>
</body>

</html>
